//Poppins-Regular
@font-face {
  font-family: Poppins-Regular;
  src: url("../assets/fonts/Lato-Hairline.ttf");
}

//Poppins
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Lato-HairlineItalic.ttf");
}

//Myriad-Pro-Regular
@font-face {
  font-family: Myriad-Pro-Regular;
  src: url("../assets/fonts/Myriad-Pro-Regular.ttf");
}

//Poppins-SemiBold
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../assets/fonts/TimesNewRomanPS-BoldItalicMT.ttf");
}

//Poppins-Medium
@font-face {
  font-family: Poppins-Medium;
  src: url("../assets/fonts/Lato-Bold.ttf");
}
