$container-width: 1024px;
$medium-padding: 40px;

$text-color: rgba(102, 102, 102, 255);
$dark: rgba(0, 0, 0, 255);
$light-dark: rgba(34, 34, 34, 255);
$banner-left-color: #f9e1e9;
$banner-right-color: #cdebf5;
$banner-gray: #eeeeee;
$sale-button: #c8c290;
$main-color: #eaac00;
$some: rgba(234, 172, 0, 255);
$fashion-bottom: rgba(102, 102, 102, 255);
$footer: rgba(136, 136, 136, 255);

$basic-font: Poppins-Regular, AdobeInvisFont, MyriadPro-Regular;
$heading-font: Poppins, $basic-font;
$bold-font: Poppins-SemiBold, $basic-font;
$medium-font: Poppins-Medium, $basic-font;

@mixin extra-large-break-point {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large-break-point {
  @media only screen and (max-width: 700px) {
    @content;
  }
}
@mixin small-break-point {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
