.product {
  &__item {
    text-align: center;
  }

  &__stars {
    color: #f4d06f;
    padding-top: 10px;
  }

  &__section {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__text {
    font-family: $basic-font;
    font-size: 15px;
    margin: 5px 0 5px 0;
  }

  &__price {
    margin: 10px 0 15px 0;
    font-weight: bold;
  }

  &__button {
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: $medium-font;
    border: none;
    &:hover {
      background-color: lighten($main-color, 10%);
    }
  }
}
